In [1]:
!git clone https://github.com/Jackmin801/StackOverflowMine.git

Cloning into 'StackOverflowMine'...
remote: Enumerating objects: 14, done.
remote: Counting objects: 100% (14/14), done.
remote: Compressing objects: 100% (14/14), done.
remote: Total 14 (delta 1), reused 10 (delta 0), pack-reused 0
Unpacking objects: 100% (14/14), done.

In [2]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('StackOverflowMine/JavaTop50000.csv')

In [4]:
data.head()

         Id  PostTypeId  AcceptedAnswerId  ...    Count ExcerptPostId  WikiPostId
0  11227809           1        11227902.0  ...  1715860       3624966     3607018
1   6841333           1         6841479.0  ...  1715860       3624966     3607018
2     40480           1               NaN  ...  1715860       3624966     3607018
3    309424           1          309448.0  ...  1715860       3624966     3607018
4    271526           1          271874.0  ...  1715860       3624966     3607018

[5 rows x 30 columns]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 30 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     50000 non-null  int64
 1   PostTypeId             50000 non-null  int64
 2   AcceptedAnswerId       40342 non-null  float64
 3   ParentId               0 non-null      float64
 4   CreationDate           50000 non-null  object
 5   DeletionDate           0 non-null      float64
 6   Score                  50000 non-null  int64
 7   ViewCount              50000 non-null  int64
 8   Body                   50000 non-null  object
 9   OwnerUserId            48894 non-null  float64
 10  OwnerDisplayName       3204 non-null   object
 11  LastEditorUserId       37621 non-null  float64
 12  LastEditorDisplayName  1895 non-null   object
 13  LastEditDate           38097 non-null  object
 14  LastActivityDate       50000 non-null  object
 15  Title                  50000 non-null  object
 16  Tags                   50000 non-null  object
 17  AnswerCount            50000 non-null  int64
 18  CommentCount           50000 non-null  int64
 19  FavoriteCount          48090 non-null  float64
 20  ClosedDate             4284 non-null   object
 21  CommunityOwnedDate     288 non-null    object
 22  ContentLicense         50000 non-null  object
 23  PostId                 50000 non-null  int64
 24  TagId                  50000 non-null  int64
 25  Id.1                   50000 non-null  int64
 26  TagName                50000 non-null  object
 27  Count                  50000 non-null  int64
 28  ExcerptPostId          50000 non-null  int64
 29  WikiPostId             50000 non-null  int64
dtypes: float64(6), int64(12), object(12)
memory usage: 11.4+ MB

In [8]:
clusters = pd.read_excel('Cluster100B.xlsx', sheet_name=None, index_col=0)
clusters = pd.concat(clusters, ignore_index=True)

In [9]:
del clusters['Title']
del clusters['ViewCount']

In [10]:
data = pd.merge(data, clusters, how='inner', on='Id')

In [11]:
data[['Title','Body','labels']].head()

                                               Title  ... labels
0  Why is processing a sorted array faster than p...  ...     67
1  Why is subtracting these two times (in 1927) g...  ...     66
2    Is Java "pass-by-reference" or "pass-by-value"?  ...     19
3  How do I read / convert an InputStream into a ...  ...     87
4                How to avoid null checking in Java?  ...      3

[5 rows x 3 columns]

In [12]:
data[['Title','Body','labels']][data['labels']==1]

                                                   Title  ... labels
166    Can I add jars to maven 2 build classpath with...  ...      1
678         How do I set the proxy to be used by the JVM  ...      1
787                      Maven parent pom vs modules pom  ...      1
885    What's the best way to validate an XML file ag...  ...      1
967    In Java, how do I parse XML as a String instea...  ...      1
...                                                  ...  ...    ...
49341  What is the correct META-INF directory locatio...  ...      1
49413                         Convert ivy.xml to pom.xml  ...      1
49698  What is the difference between Castor XML bind...  ...      1
49913  Are there faster XML parsers in Java than Xala...  ...      1
49988                                 XML Diff and Merge  ...      1

[312 rows x 3 columns]

In [13]:
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize, sent_tokenize

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [14]:
titles = [word_tokenize(str.lower(title)) for title in data.Body.values]

In [15]:
from collections import Counter


# Create a Counter with the lowercase tokens: bow_simple
bow_simple = Counter(titles[0])

# Print the 10 most common tokens
print(bow_simple.most_common(10))

[(';', 65), ('<', 36), ('>', 36), ('&', 30), ('(', 24), (')', 24), ('=', 21), ('lt', 20), ('data', 18), ('c', 14)]

In [16]:
# Import Dictionary
from gensim.corpora.dictionary import Dictionary

# Create a Dictionary from the articles: dictionary
dictionary = Dictionary(titles)

# Use computer_id with the dictionary to print the word
print(dictionary.token2id)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [17]:
corpus = [dictionary.doc2bow(title) for title in titles]

# Print the first 10 word ids with their frequency counts from the fifth document
print(corpus[4][:10])

[(0, 2), (4, 8), (5, 2), (6, 2), (11, 1), (13, 1), (17, 2), (18, 5), (20, 5), (21, 1)]

In [18]:
from gensim.models.tfidfmodel import TfidfModel
# Create a new TfidfModel using the corpus: tfidf
tfidf = TfidfModel(corpus)

In [19]:
tfidf[[(0,1),(15,1)]]

[(0, 0.6752269818853636), (15, 0.7376100073439776)]

In [20]:
# Calculate the tfidf weights of doc: tfidf_weights
tfidf_weights = tfidf[corpus[140]]

# Print the first five weights
print(tfidf_weights[:1])

# Sort the weights from highest to lowest: sorted_tfidf_weights
sorted_tfidf_weights = sorted(tfidf_weights, key=lambda w: w[1], reverse=True)

# Print the top 5 weighted words
for term_id, weight in sorted_tfidf_weights[:10]:
    print(dictionary.get(term_id), weight)

[(3, 0.2119144145094103)]
animal 0.5940283225148921
list 0.2528284574172832
animals 0.23655348807848028
& 0.2119144145094103
polymorphism 0.20705419463311528
dog 0.19296825151294686
cat 0.1822236187489883
dosomething 0.17407047055774655
inheritance 0.16892895609057637
generics 0.15842776874223136

In [21]:
group_1 = data[data['labels']==1].index.values

In [22]:
from collections import defaultdict
meow = defaultdict(lambda: 0)
for i in group_1:
  tfidf_weights = tfidf[corpus[i]]
  sorted_tfidf_weights = sorted(tfidf_weights, key=lambda w: w[1], reverse=True)
  for term_id, weight in sorted_tfidf_weights[:5]:
    meow[term_id] += 1

In [23]:
top_10 = sorted(meow.items(), key=lambda item: item[1], reverse=True)[:10]
for i in top_10:
  print(dictionary.get(i[0]),i[1])

xml 68
schema 16
document 11
xsd 9
jaxb 9
sax 9
file 8
import 7
streamresult 7
& 7

In [24]:
from collections import defaultdict
def get_top_10_tfidf(n):
  group = data[data['labels']==n].index.values
  meow = defaultdict(lambda: 0)
  for i in group:
    tfidf_weights = tfidf[corpus[i]]
    sorted_tfidf_weights = sorted(tfidf_weights, key=lambda w: w[1], reverse=True)
    for term_id, weight in sorted_tfidf_weights[:5]:
      meow[term_id] += 1
  top_10 = sorted(meow.items(), key=lambda item: item[1], reverse=True)[:10]
  ret=[]
  for i in top_10:
    #print(dictionary.get(i[0]),i[1])
    ret.append((dictionary.get(i[0]),i[1]/len(group)))
  return ret

In [25]:
highest = [ranks[0] for ranks in [get_top_10_tfidf(i) for i in range(100)]]

In [26]:
for i,h in enumerate(highest):
  print(i,h)

0 ('static', 0.18340611353711792)
1 ('xml', 0.21794871794871795)
2 ('android', 0.2287145242070117)
3 ('%', 0.06405693950177936)
4 ('bigdecimal', 0.9230769230769231)
5 ('spring', 0.20473773265651438)
6 ('at', 0.7410179640718563)
7 ('/kbd', 0.9512195121951219)
8 ('int', 0.23963133640552994)
9 ('enum', 0.7938144329896907)
10 ('@', 0.24660194174757283)
11 ('/li', 0.6957575757575758)
12 ('maven', 0.3687707641196013)
13 ('test', 0.36699029126213595)
14 ('stream', 0.4239766081871345)
15 ('server', 0.21298701298701297)
16 ('date', 0.34057971014492755)
17 ('foo', 0.635593220338983)
18 ('file', 0.3492286115007013)
19 ('br', 0.02860858257477243)
20 ('exception', 0.14496314496314497)
21 ('intellij', 0.49361702127659574)
22 ('thread', 0.5009523809523809)
23 ('node', 0.6814814814814815)
24 ('person', 0.8324607329842932)
25 ('log4j', 0.432258064516129)
26 ('properties', 0.40869565217391307)
27 ('gson', 0.6068965517241379)
28 ('&', 0.4161073825503356)
29 ('b', 0.024139702105803802)
30 ('eclipse', 0.2823741007194245)
31 ('hashcode', 0.5671641791044776)
32 ('random', 0.7286821705426356)
33 ('user', 0.478125)
34 ('unknown', 0.9083969465648855)
35 ('word', 0.5504587155963303)
36 ('abstract', 0.17543859649122806)
37 ('calendar', 0.24516129032258063)
38 ('key', 0.4329268292682927)
39 ('hibernate', 0.281767955801105)
40 ('constructor', 0.6747572815533981)
41 ('memory', 0.3740053050397878)
42 ('connection', 0.20277777777777778)
43 ('gradle', 0.3942307692307692)
44 ('icon', 0.75)
45 ('obj', 0.6298701298701299)
46 ('stack', 0.023017902813299233)
47 ('android', 0.9371069182389937)
48 ('at', 0.5904255319148937)
49 ('map', 0.4654255319148936)
50 ('/li', 0.05624591236102027)
51 ('keystore', 0.3203463203463203)
52 ('jre', 0.552)
53 ('image', 0.42745098039215684)
54 ('/em', 0.2638888888888889)
55 ("''", 0.1717171717171717)
56 ('system.out.println', 0.07544378698224852)
57 ('difference', 0.2695035460992908)
58 ('web', 0.2006079027355623)
59 ('project', 0.5)
60 ('request', 0.14314115308151093)
61 ('date', 0.5955678670360111)
62 ('we', 0.021018593371059015)
63 ('socket', 0.6635514018691588)
64 ('intent', 0.17067833698030635)
65 ('double', 0.5787965616045845)
66 ('quot', 0.9791666666666666)
67 ('&', 0.6510161177295024)
68 ("'", 0.009507640067911714)
69 ('at', 0.7403846153846154)
70 ('json', 0.35917312661498707)
71 ('&', 1.0)
72 ('byte', 0.8102189781021898)
73 ('--', 0.018251157722691366)
74 ('button', 0.5958549222797928)
75 ('jdk', 0.17391304347826086)
76 ('selenium', 0.24855491329479767)
77 ('package', 0.36464088397790057)
78 ('jar', 0.3968609865470852)
79 ('list', 0.5119236883942766)
80 ('tomcat', 0.06340819022457067)
81 ('difference', 0.27876106194690264)
82 ('hello', 0.5314685314685315)
83 ('-xx', 0.5943396226415094)
84 ('import', 0.15034965034965034)
85 ('/strong', 0.22959183673469388)
86 ('queue', 0.012974976830398516)
87 ('inputstream', 0.4794520547945205)
88 ("''", 0.03690987124463519)
89 ('boolean', 0.2896825396825397)
90 ('bufferedreader', 0.3401015228426396)
91 ('excel', 0.2631578947368421)
92 ('&', 0.9970631424375918)
93 ('text', 0.41729323308270677)
94 ('url', 0.4823529411764706)
95 ('array', 0.6134020618556701)
96 ('arraylist', 0.7117117117117117)
97 ('break', 0.3769230769230769)
98 ('import', 0.0379746835443038)
99 ('path', 0.38341968911917096)

In [28]:
df = pd.DataFrame(highest, columns=['Term','Ratio'])
df.sort_values(by='Ratio')[80:]

           Term     Ratio
67            &  0.651016
63       socket  0.663551
40  constructor  0.674757
23         node  0.681481
11          /li  0.695758
96    arraylist  0.711712
32       random  0.728682
69           at  0.740385
6            at  0.741018
44         icon  0.750000
9          enum  0.793814
72         byte  0.810219
24       person  0.832461
34      unknown  0.908397
4    bigdecimal  0.923077
47      android  0.937107
7          /kbd  0.951220
66         quot  0.979167
92            &  0.997063
71            &  1.000000